<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">New Log</h6>
    </div>

    <div class="card-body">
        <%= render "form", log: @log %>
    </div>
</div>

<div class="card shadow mb-4">
    
        <div class="table-responsive">
            <table class="table table" id="dataTable" width="100%" cellspacing="0">
                <thead class='thead-light' >
                    <tr>
                        <th>ID</th>
                        <th>EX type (eventually)</th>
                        <th>Repetitions</th>
                        <th>Weight</th>
                        <th>Date</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render @logs %>
                </tbody>
            </table>
            
            <br />
            <%= will_paginate @logs %>
        </div>
    
</div>
